DJANGO_SECRET_KEY=django-insecure-h*8q1rtvblzlvf-s04viuuphooza2-5e(u%=zb2batn0q!37qp
DATABASE_URL=postgres://agribot:agribot_pass@db:5432/agribot
CELERY_BROKER_URL=redis://redis:6379/0

WHATSAPP_VERIFY_TOKEN=AgriBOt17376317e@codexafrique
WHATSAPP_ACCESS_TOKEN=EAAccGtTucIwBR8eEjAdmwTKgSZATFoZBSEYAuFZCPnaWx28BDj7uzv13Fbvq27qROsHwCCji2HW7Hgn9cW4DSqDZBOhP17JbKYX9zStx4pg6rEOOeZCdq9HZCIuvA3ZAiq7jWNzM83iw6RTvO24e4dWJSja2CwQDFzmkZBHGlrOZCqitHvJ4EykkgbBZCnpg7LAGY0Hr8AB8974JpPD19k26uhABQSkLLAJxAZA5gwQgXc1cZC0cERBK1hCtFBNq9xbyXrZA3bLGXhnvDcKwaioC2bZCweEui60AZDZD
WHATSAPP_PHONE_NUMBER_ID=1229604456895889

GROQ_API_KEY=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
GOOGLE_AI_API_KEY=AQ.Ab8RN6KVc2yF3IAwyu7mvX1GnYbPHoibsViADgfzunK6ZsbkeQ
OPENWEATHER_API_KEY=be96318513c8a95956495a2a65d20fd0